; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{xml,config,csproj}]
max_line_length = off

[*.{cs,html}]
indent_size = 4
js_indent_size = 2
max_line_length = 160
dotnet_sort_system_directives_first = true

[Makefile]
indent_style = tab
max_line_length = off
tab_width = 4
